In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("test.tsv", sep="\t")
df.head()

,activity_order,include,activity,activity_pref_label,preamble,item,item_pref_label,item_description,item_order,mandatory,visibility,skip,question,field_type,choices
0,1,1,NaN,Activity 2,NaN,NaN,number of subjects,number of subjects,1,1,1,1,Number of subjects entering into the analysis,integer,NaN
1,2,1,NaN,Activity 3,same activity,NaN,integer item,integer item,1,1,1,1,This is an integer item,integer,NaN
2,2,1,NaN,Activity 3,different preamble,NaN,slider item,slider item,2,1,1,1,This is a slider item,slider,1 | 100 | 10
3,3,1,text and float,Activity 4,NaN,TEXT,text item,text item,1,1,1,1,This is a text item,text,NaN
4,3,1,NaN,Activity 4,NaN,NaN,multitext item,multitext item,2,1,1,1,This is a multitext item,multitext,NaN

In [12]:
this_activity = "Activity 2"

is_this_activity = df["activity_pref_label"] == this_activity
activity_info = df[is_this_activity]

not_nan = activity_info["preamble"].notna()

preambles = activity_info[not_nan]
preamble = list(preambles["preamble"].unique())

if len(preamble) > 1 or len(preamble) == 0:
    preamble = ""
else:
    preamble = preamble[0]
    
preamble

''